// my creation //



<%  layout("/layouts/boilerplate") %>
    <div class="hero">
        <div class="hero-overlay"></div>
        <div class="hero-content">
            <h1>Find Your Perfect Stay</h1>
            <p>Explore unique places to stay and adventures around the world.</p>
            <a href="/listings" class="btn btn-primary exp-btn">Explore Now</a>
        </div>
    </div>
